.common-search-for-tables{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.search-bar-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  @media only screen and (max-width: 1024px) {
    margin-bottom: 10px;
  }
  img {
    height: 15px;
  }

  input {
    padding: 3px 5px;
    border: none;
    outline: none;
    font-family: "BasierCircleReg";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #8b8b8b;
    background: none;

    &::placeholder {
      text-transform: capitalize;
      text-transform: capitalize;
      font-size: 12px;
    }
  }
}
