.date-filter {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 17px 24px rgba(58, 58, 58, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5%;
}
.right-text {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #518ef8;
  }
  span {
    margin-left: 2%;
    display: flex;
    align-self: flex-end;
  }
}
.left-text {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 4%;
}
.small-text {
  font-size: 16px;
  font-weight: lighter;
  color: grey;
}
.lg-text {
  font-size: 16px;
  font-weight: bold;
  padding-left: 1%;
}
.MuiOutlinedInput-notchedOutline {
  border: none;
}
.first {
  .rdrDateRangePickerWrapper {
    top: 15%;
    left: 13%;
    z-index: 1;
    width: fit-content;
  }
}
.report-header-card .first {
  .rdrDateRangePickerWrapper {
    top: 15%;
    left: 13%;
    z-index: 1;
    width: fit-content;
  }
}

.first {
  width: 100%;
  margin-left: 0%;
  padding: 1% 0%;
  background: none;
  justify-content: flex-start;
  border-radius: 0;
  box-shadow: none;
  padding-right: 3%;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
  }

  .text {
    font-size: 16px;
    text-align: left;
    width: 45%;
    @media only screen and (max-width: 1024px) {
      margin: 2% 0%;
      width: 100%;
    }
  }

  .MuiInputBase-root {
    width: 100%;
    border: none !important;
    border-radius: 16px;
    box-shadow: 0px 17px 24px rgba(58, 58, 58, 0.05);
    background: white;

    .MuiOutlinedInput-input {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: #677790;
      width: 400px;
      padding: 1.5% 5%;

      .text-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          float: right;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
          color: #a4adbc;
          padding: 0% 3%;
          margin-top: 2%;
        }
      }
    }
  }
}

.btn-apply-picker {
  margin-left: 5px;
  border-radius: 7px;
  padding: 6px 12px;
  background: #518ef8;
  border: 1px solid #518ef8;
  color: #fff;
}
.btn-cencel-picker {
  margin-left: 5px;
  border-radius: 7px;
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #518ef8;
  color: #518ef8;
}
.zoom-buttons{
  width: 35px;
  height: 80px;
  background: #60a0f8;
  position: absolute;
  right: 2%;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 5px;
  border: 2px solid #2a81f9;
  span{
    width: 90%;
    border-top: 1px solid white;
  }
}
