.reports-component {
  .reports-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    flex-wrap: wrap;
    .reports {
      width: 200px;
    }
    .sites {
      width: 200px;
    }
    .report-date {
      width: 200px;
    }
  }
  .download-reports {
    margin-top: 10px;
    a {
      color: #52a9dd !important;
    }
  }
  .generate-report {
    background: #52a9dd;
    color: white;
    .MuiCircularProgress-root {
      position: absolute;
      color: #fff;
    }
  }
  .MuiButton-contained:hover {
    background: #52a9dd;
  }
  .generate-report-disable {
    background: #52a9dd;
    color: white;
    opacity: 0.8;
    .MuiCircularProgress-root {
      position: absolute;
      color: #fff;
    }
  }
  .form-control {
    height: 35px;
    width: 192px;
    border-radius: 5px;
  }
  .actions {
    display: flex;
    .reset-btn {
      margin-left: 20px;
    }
  }
}
