.common-header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
  width: 100%;
  flex-wrap: wrap;
  .view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    .view-icon {
      margin-right: 3px;
    }
  }
  .common-header-links-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1170px) {
      margin-top: 15px;
    }
  }
  .header-children {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
  }
}
