.common-header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
  .header-btn {
    background: #52a9dd;
    border-radius: 64px;
    border: none;
    color: #fff;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    padding: 5px 15px;
  }
  .header-link {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #52a9dd;
    cursor: pointer;
  }
  .view-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .view-icon {
      margin-right: 5px;
    }
  }
  .common-header-links-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
  }
  .header-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
}
