.jobcard {
  height: 100%;
  // width: 190px;
  // margin-right: 10px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  @media only screen and (max-width: 430px) {
    width: 100%;
    margin-right: 0px;
  }
  @media only screen and (min-width: 960px) and (max-width: 1400px) {
    margin-right: 5px;
  }
  .MuiPaper-root {
    box-shadow: none;
  }
}

.box {
  height: 100%;
  background-color: #fff;
  padding: 12px;
  // border: 2px solid #ececec;
  box-shadow: 0px 17px 24px rgba(58, 58, 58, 0.05) !important;
  box-sizing: border-box;
  // height: 130px;
  border-radius: 11.6836px !important;

  h1 {
    font-family: "BasierCircleBold";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #0d0d39;
    margin: 0px;
  }
}
