.order-modal-main {
  .title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #0f2851;
    margin: 0;
  }
  .image-modal-main {
    background: #ffffff;
    // box-shadow: 0px 17px 24px rgba(58, 58, 58, 0.05);
    border-radius: 16px;
    padding: 12px;
    margin-right: 10px;
    height: 100%;
  }
  .skip-yard-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #0f2851;
    margin: 0;
  }
  .add-new-skip {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #60a0f8;
  }
  .img-caption {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #677790;
  }
  .img-caption-address {
    font-family: "DM Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #677790;
  }
  .clr-blue {
    color: #0f2851;
  }
  .clr-light-blue {
    color: #60a0f8;
  }
  .clr-gray {
    color: #677790;
  }

  fieldset {
    border: none !important;
  }
  .btn-modal {
    .button-save {
      background: linear-gradient(180deg, #73c6f9 0%, #5391f9 100%);
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.3px;
      color: #ffffff;
      border: none;
      outline: none;
      width: 100%;
      padding: 12px 10px;
      border-radius: 26px;
      cursor: pointer;
    }
    .button-cancel {
      filter: drop-shadow(0px 17px 24px rgba(58, 58, 58, 0.05));
      background-color: #fff;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.3px;
      color: #60a0f8;
      border: none;
      outline: none;
      width: 100%;
      padding: 12px 10px;
      border-radius: 26px;
      cursor: pointer;
    }

    button:disabled {
      opacity: 0.6;
    }
  }
  .btn-modal-add-card {
    .button-save {
      background: linear-gradient(180deg, #73c6f9 0%, #5391f9 100%);
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.3px;
      color: #ffffff;
      border: none;
      outline: none;
      width: 100%;
      padding: 8px 10px;
      border-radius: 26px;
      cursor: pointer;
    }
  }
  .dots-main {
    .dots {
      width: 8px;
      height: 8px;
      background: #a4adbc;
      opacity: 0.4;
      border-radius: 50%;
      margin: 0px 5px;
    }
  }
  .MuiInputBase-multiline {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #677790;
  }

  // booking
  .booking {
    font-family: "DM Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #677790;
  }
  .btn-confirm-booking {
    button {
      filter: drop-shadow(0px 17px 24px rgba(58, 58, 58, 0.05));
      border-radius: 24px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.3px;
      padding: 14px 10px;
      color: #60a0f8;
      border: none;
      outline: none;
      width: 100%;
    }
  }
  .MuiAccordionSummary-content.Mui-expanded {
    margin: 12px 0px !important;
  }
  .alert-message-modal {
    background: #fff !important;
    border-radius: 16px !important;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    color: #29a7df;
    text-align: center;
  }
  .MuiAutocomplete-inputRoot {
    padding: 0px 14px !important;
  }
  .MuiAutocomplete-input {
    padding: 0px !important;
  }
  .manual-address {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #60a0f8;
  }
  .menu-item-select {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #677790;
  }
}

.sign-up-btn-order-modal {
  button {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 35px;
    padding: 16px 10px;
    text-transform: none;
    background: linear-gradient(180deg, #73c6f9 0%, #5391f9 100%);
  }
}

.fnt-w-400 {
  font-weight: 400;
}
.fnt-w-700 {
  font-weight: 700!important;
}
