.site-manager-detail-page-main {
  .site-table {
    margin-top: 20px;
  }
  .manager-detail-page {
    justify-content: center;
  }
  .new-manager-main {
    text-align: start;
  }
  .site-manager-map-view {
    margin-top: 20px;
  }
  .site-manager-filter {
    margin-top: 20px;
  }
  .po-detail-page {
    width: 100%;
    margin-top: 20px;
  }
}
.site-tabel-detail {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
