.dashboard-filter-main {
  padding: 5px 0px;
  // max-width: 190px;
  .title {
    font-family: "BasierCircleBold";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #0d0d39;
  }
  .filter-main {
    display: flex;
    margin-top: 18px;
    @media only screen and (max-width: 425px) {
      margin-top: 0px;
      margin-bottom: 10px;
    }
    .postcode {
      font-family: "BasierCircleReg";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #4b686e;
      margin-left: 8px;
    }
  }
}
.searh-dashboard {
   max-width: 190px;
  input {
    width: 100%;
  }
  @media only screen and (max-width: 425px) {
    width: 100%;
  }
}

.icon-search{
  margin-right: 10px;
}