.salesWp {
  .salesWp-inner-wrap {
    .salesWp-sub {
      .guage-with-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .text {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          h1 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #0f2851;
            padding: 0;
            margin: 0;
          }

          p {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: #677790;
            padding: 0;
            margin: 0;
          }

          label {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #677790;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

  .main-progress-bar-large {
    .circle_reactGradientProgressPercentageSpan__1HdhL {
      top: -15px;
    }

    .text-in-progressbar {
      position: absolute;
      top: 50%;
      text-align: center;
      width: 140px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: #0F2851;
    }
  }

}