.pledge-bar{
  font-family: "DM Sans" !important;
}
.job-status-outer {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5%;
  margin-right: 10px;
}
.landfill-main{
  width: 100%;
}
.landfill {
  margin: 11px 0px;
  font-family: "BasierCircleBold";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #1d2125;
}
hr {
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    #ff0000 4.25%,
    #fa8c14 48.87%,
    #00b25d 93.5%
  );
  height: 9px;
}

.jobMpWp {
  margin-top: 20px;
  .live-job-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  h1 {
    margin-left: 10px;
    font-family: "BasierCircleBold";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #0d0d39;
  }

  .mapCard {
    border-radius: 12px;
    height: 809px;
    padding: none;
    .MuiCardContent-root {
      height: 100%;
      padding: 0px;
      & > div {
        height: 100%;
      }
    }
  }
 
}
.spend-service-main{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex-wrap: unset !important;
   @media only screen and (max-width: 768px) {
    flex-wrap: wrap !important;
    width: 100%;
  }
}
.main-loading{
 width: 100%;
}
.dashboard-menu{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 300px;
}
.progress-bar {
  display: flex;
  align-items: center;
  position: relative;
  label {
    position: absolute;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    z-index: 1;
    // padding-left: 0.5%;
  }
}
