.dashboard-services-main {
  background: #ffffff;
  // border: 2px solid #ececec;
  box-sizing: border-box;
  box-shadow: 0px 17px 24px rgba(58, 58, 58, 0.05) !important;
  border-radius: 11.6836px;
  padding: 0px 12px;
  height: 331px;
  margin-right: 10px;
  width: 60%;
  @media only screen and (max-width: 768px) {
    width: 100% !important;
  }

  .services-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .MuiFormControlLabel-label {
      font-family: "BasierCircleReg";
      font-style: normal;
      font-weight: normal;
      font-size: 14.7582px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: rgb(81, 142, 248);
    }
  }
  .CircularProgressbar-text {
    font-family: "BasierCircleReg";
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    fill: #000;
  }
  .progress-main {
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
    overflow: auto;
    .circular-progress {
      width: 180px;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .CircularProgressbar {
        width: fit-content;
        .CircularProgressbar-path{
          stroke: #518ef8 ;
        }
        .CircularProgressbar-text{
          fill: #518ef8 ;
        }
      }
      p {
        font-family: "BasierCircleReg";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        margin: 0px;
        margin-bottom: 9px;
      }
    }
    .progress-sub {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      .order-percentage {
        .order-title {
          font-family: "BasierCircleReg";
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          display: flex;
          align-items: center;
          text-align: center;
          color: rgb(81, 142, 248);
          width: max-content;
        }
        .orders {
          font-family: "BasierCircleReg";
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 6px;
          margin-top: 5px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #000000;
        }
      }
      .order-percentage:last-child {
        padding-right: 10px;
      }
    }
  }
}
