.pledge-progress-bar {
  .MuiLinearProgress-root {
    background-color: #a364e6;
  }
  .MuiLinearProgress-barColorPrimary {
    background-color: #6900d7 !important;
  }
}

.accuracy-table {
  th,
  td {
    padding: 4px;
  }
}
