.pledge-progress-bar {
  .MuiLinearProgress-root {
    background-color: #518ef8;
  }
  .MuiLinearProgress-barColorPrimary {
    background-color: #1a4dc4 !important;
  }
}

.accuracy-table {
  th,
  td {
    padding: 4px;
  }
}
