.another-account-sign-up {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #0f2851;
  margin-bottom: 15px;
  span {
    text-decoration: underline;
    color: #60a0f8;
  }
}
.another-account {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #0f2851;
  padding-bottom: 98px;

  span {
    text-decoration: underline;
    color: #60a0f8;
  }
}
// }

.main {
  background: #36b8fc;
}

.login-main {
  background-color: #fff;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  .login-section {
    // width: 20%;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    .title {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: #29a7df;
      padding-bottom: 24px;
    }
    .search-input {
      width: 100%;
      .MuiOutlinedInput-root{
        padding-left: 0px;
      }
      .MuiInputBase-input {
        background-color: transparent;
      }
      .MuiOutlinedInput-adornedStart {
        padding-left: 0px;
      }
      .MuiInputBase-root {
        width: 100%;
        border-radius: 45px;
        margin-bottom: 20px;
        .MuiTypography-root {
          background-color: #29a7df;
          color: #fff;
          padding: 8px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;
        }
      }
      .MuiFormControl-root {
        margin: 0px;
        width: 100%;
      }
    }
    .login-next-btn {
      padding-top: 23px;
      padding-bottom: 24px;
      width: 100%;
      .MuiButton-root {
        border-radius: 64px;
        background: linear-gradient(180deg, #73c6f9 0%, #5391f9 100%);
        width: 100%;
        height: 48px;
      }
      .MuiButton-label {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        line-height: 19px;
        text-transform: initial;
      }
    }
  }
  .another-account {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #0f2851;
    padding-bottom: 98px;

    span {
      text-decoration: underline;
    }
  }
}

// .main {
//   background: #0f2851;
// }
// @media (max-width: 1024px) and (min-width: 769px){
//   .login-main {
//     .login-section {
//       width: 45%;
//     }
//   }
// }
// @media (max-width: 768px) and (min-width: 426px){
//   .login-main {
//     .login-section {
//       width: 50%;
//     }
//   }
// }
// @media (max-width: 425px) and (min-width: 1px){
//   .login-main {
//     .login-section {
//       width: 90%;
//     }
//   }
// }
