.single-select-main {
  .MuiPaper-root {
    width: 250px !important;
    overflow: auto !important;
  }
  .MuiOutlinedInput-notchedOutline {
    border: none;
    border-color: unset;
  }
  .MuiPaper-root {
    width: 250px !important;
  }
  .MuiPaper-elevation {
    width: 250px !important;
  }
}
