$theme-color: #00c2ad;
$active-link-color: #00aa99;
$white-color: #fff;
$app-primary-color: red;

$lightGray: #fbfbfc;
$dividerColor: rgba(0, 0, 0, 0.12) !default;
$text: #696969;
$title: #464646;
$subtitle: #545454;
$categoryTitle: #161616;
$tint: #4d226d;
$listColor: rgba(255, 107, 114, 0.53);
$description: #bbbbbb;
$white: #ffffff;
$primaryPlaceholder: #874cb073;
$background: "#f2f2f2";
$primaryColor: #4d286e;
$lightPrimaryColor: #996cc3;
$primaryTextColor: #ffffff;
$borderColor: #c2c1c0;
$gray: #8c8781;
$error: #f30c0c;
$errorBorder: #f3051f;
$primaryBlack: #0d0d39;
$primaryRed: #ff0476;
$primaryBlue: rgb(81, 142, 248);
$lightBlue: #dee7f1;
$primaryDarkBlue: #227dc7;
$primaryGreen: #00ca72;
$cardTextColor: #4b686e;
$capitalize: capitalize;
$uppercase: uppercase;

$full-width: 100% !default;
$standard-width: 75% !default;
$small-width: 25% !default;

$pt: "../../assets/images/Path8573.svg";

$v5: 5px;
$v10: 10px;
$v12: 12px;
$v15: 15px;
$v20: 20px;
$v25: 25px;
$v30: 30px;
$v35: 35px;
$v40: 40px;
$v50: 50px;
$v55: 55px;
$v60: 60px;
$v65: 65px;
$v70: 70px;
$v80: 80px;
$v90: 90px;
$v100: 100px;
$v110: 110px;

.common-title {
  font-family: "BasierCircleReg";
  font-style: normal;
  font-weight: normal;
  font-size: 10.7582px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.normal-dsans-10-primary1-disable {
  pointer-events: none;
  cursor: not-allowed;
  color: "#677790!important";
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  display: contents;
  font-weight: bolder;
}
.primary-title {
  @extend .common-title;
  color: rgb(81, 142, 248);
}
.pending-title {
  @extend .common-title;
  color: #ff0000;
}
.completed-title {
  @extend .common-title;
  color: #0fb36b;
}
.delivered-title {
  @extend .common-title;
  color: #ff9013;
}
.ongoing-title {
  @extend .common-title;
  color: #ecac63;
}
.heading-title {
  @extend .common-title;
  color: #3ca5e3;
}
.pickup-ongoing-title {
  @extend .common-title;
  color: #6fff22;
}
.canceled-title {
  @extend .common-title;
  color: #ff0000;
}
.pickup-booked-title {
  @extend .common-title;
  color: #ff9013;
}
.collection-requested-title {
  @extend .common-title;
  color: #ff9013;
}
.to-be-allocated-title {
  @extend .common-title;
  color: #ff9013;
}
.allocated-to-supplier-title {
  @extend .common-title;
  color: #ff9013;
}
.confirmed-by-supplier-title {
  @extend .common-title;
  color: #ff9013;
}
.assigned-title {
  @extend .common-title;
  color: #ffd446;
}
.requested-title {
  @extend .common-title;
  color: rgb(81, 142, 248);
}

.header-btn {
  background: rgb(81, 142, 248);
  border-radius: 64px;
  border: none;
  color: #fff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 15px;
}
.header-link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: rgb(81, 142, 248);
  cursor: pointer;
}
.normal-dsans-10-dark {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #4b686e;
}

.bold-dsans-12-primary {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: rgb(81, 142, 248);
  cursor: pointer;
}

.normal-dsans-10-primary {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  display: contents;
  font-weight: bolder;
  color: rgb(81, 142, 248);
}
.normal-dsans-10-primary1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  display: contents;
  font-weight: bolder;
  color: rgb(81, 142, 248);
  cursor: pointer;
}
.normal-dsans-10-tooltip {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  font-weight: bolder;
  color: rgb(81, 142, 248);
}

// style for flex
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center !important;
}
.flex-1 {
  flex: 1;
}
.flex-3 {
  flex: 3;
}

.w-100 {
  width: 100%;
}
// info window of google map

.gm-style .gm-style-iw-c {
  padding: 0px !important;
  box-shadow: none !important;
}
.gm-style .gm-style-iw-t::after {
  background: none !important;
  box-shadow: none !important;
}
.gm-style-iw-d {
  overflow: unset !important;
}
.gm-ui-hover-effect {
  display: none !important;
}
