body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
}
.main {
  overflow: hidden;
}
@font-face {
  font-family: "BasierCircleBold";
  src: local("BasierCircleBold"),
    url("./assets/fonts/BasierCircle-Bold.woff") format("woff");
}

@font-face {
  font-family: "BasierCircleReg";
  src: local("BasierCircleReg"),
    url("./assets/fonts/BasierCircle-Regular.woff") format("woff");
}
.rdrDateRangeWrapper {
  border-left: 1px solid gainsboro;
}
.rdrDateRangePickerWrapper {
  position: absolute;
  top: 100%;
  border: 1px solid gainsboro;
  right: 5%;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.site-pagination {
  width: 100%;
}
.tickets-main-div {
  text-align: center;
  height: 100vh;
}
.row {
  flex-direction: row !important;
}
.column {
  flex-direction: column !important;
}
.wrap{
  flex-wrap: wrap !important;
}
.p-2{
  padding: 2% !important;
}
.start{
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
