.MuiTable-root {
    .table-headings {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #0d0d39;
    }
    .table-body-cell {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 13px;
      color: #4b686e;
    }
  }