.table-main {
  display: table;
  table-layout: fixed;
  width: 100%;

  .MuiTableCell-root {
    border-bottom: none;
  }
  .MuiTableRow-root {
    vertical-align: unset;
  }

  .table-headings {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #0d0d39;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .table-headings:last-child{
    display: flex;
    align-self: flex-end;
    width: 50px !important;
    padding: 10px !important;
  }
  .table-body-cell {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #4b686e;
    word-break: break-all;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .table-body-cell:last-child {
    display: flex;
    align-self: flex-end;
    width: 50px !important;
    padding: 10px !important;
  }


  .custom-filter {
    padding: 0px 4px;
    cursor: pointer;
    outline: none;
    min-width: 50px;
    text-transform: capitalize;
    background: #fbfbfc;
    border-radius: 3px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #52a9dd;
    height: 30px;
    margin-right: 10px;
  }
}
.common-search-for-tables {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.job-table-menu {
  .MuiPaper-root {
    border-radius: 11px;
  }
}
