// .table-testing {
//   border-collapse: separate;
//   border-spacing: 10px 5px;

//   .MuiTableRow-root {
//     border: 2px solid;
//     // padding: 10px;
//     // margin: 10px;
//   }
//   .MuiTableCell-root {
//     border-bottom: none;
//   }
// }
// .MuiTable-root {
//   border-collapse: separate;
//   border-spacing: 10px 5px;
// }

.MuiTable-root {
  .table-headings {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #0d0d39;
  }
  .table-body-cell {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #4b686e;
  }
}
.filter-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  .MuiListItem-root {
    width: fit-content;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #52a9dd;
    cursor: pointer;
  }
  .pagination-control {
    padding: 0px 4px;
    cursor: pointer;
    outline: none;
    min-width: 50px;
    text-transform: capitalize;
    background: #fbfbfc;
    border-radius: 3px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #52a9dd;
    height: 30px;
    margin-right: 10px;
  }
}
